.footer{
    height: 100px;
    position: relative;
    transform: translateY(0%);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(30, 30, 57);
    color: rgb(255, 255, 255);
    
}


