.nav_navbar {
  width: 100%;
  background-color: rgb(30, 30, 57);
  display: flex;
  align-items: center;
  text-align: right;
  padding: 5px 0px;
  justify-content: flex-start;
}

.navbarMenu {
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}

.logo {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 40px;
}

.navdrop{
  margin: 0px;
  padding: 5%;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;

}

.dropbox {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 130px;
  width: 100%;
}

.drop_font {
  text-decoration: none;
  color: rgb(54, 61, 80);
  font-weight: 700;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}
.title_nav {
  color: rgb(255, 255, 255);
  font-family: "Noto Sans KR", sans-serif;
}
.nav_button {
  color: rgb(255, 255, 255);
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 20px;
}
