.slidercontents {
    height: 750px;
    background-color: rgb(255, 156, 156);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
  }
 .solution_img {
  width: 600px;
  height: 300px;
  object-fit: cover;
 }

  .slidercontents2{
    height: 750px;
    background-color: rgb(255, 217, 163);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
  }
 .insight_img {
  width: 600px;
  height: 300px;
  object-fit: cover;
 }

  .slidercontents3{
    height: 750px;
    background-color: rgb(181, 255, 150);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
  }
.revolution_img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}

  .slidercontents4{
    height: 750px;
    background-color: rgb(230, 105, 105);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
  }
.intelligenc_img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}  
  
  .wrapText {
    margin-left: 20%;
    justify-content: center;
  }